<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootdemo.mapper.ScoreMapper">

  <select id="selectPage" resultType="com.example.springbootdemo.model.Score" parameterType="com.example.springbootdemo.model.Score">

    SELECT s.id,u.id as userId,u.`name` as username,
    CASE WHEN s.semester='1' THEN '第一学期' ELSE '第二学期' END as semester,
    CASE WHEN u.gender='1' THEN '男' ELSE '女' END as genderName,
    d1.name as grade,d.name as classs,
    concat(d1.name, ' ', d.name) as gradeName,
    s.chinese,s.mathematics,s.english,s.general_science as generalScience,
    s.total_score,s.create_time as createTime
    from score s
    left join `user` u on u.id=s.user_id
    left join sys_dictionary d on d.id=s.classs
    left join sys_dictionary d1 on d1.id=s.grade

    <where>
      <if test="score.username!=null and score.username!=''">
       and u.name=#{score.username}
      </if>

      <if test="score.userId!=null and score.userId!=''">
        and s.user_id=#{score.userId}
      </if>

      <if test="score.semester!=null and score.semester!=''">
        and s.semester=#{score.semester}
      </if>

      <if test="score.grade!=null and score.grade!=''">
        and s.grade=#{score.grade}
      </if>

        <if test="score.classs!=null and score.classs!=''">
            and s.classs=#{score.classs}
        </if>

    </where>
    order by s.create_time desc
  </select>

  <select id="gradeStatistics" resultType="com.example.springbootdemo.model.ScoreStatistics" parameterType="com.example.springbootdemo.model.Score">
      select s.grade as gradeId,d.name as grade,count(DISTINCT s.classs) as classCount,
      ROUND((count(cso.chinese)/count(uu1.id))*100,0) csoCount,
      ROUND((count(mso.mathematics)/count(uu1.id))*100,0) as msoCount,
      ROUND((count(eso.english)/count(uu1.id))*100,0) as esoCount,
      ROUND((count(gsso.general_science)/count(uu1.id))*100,0) as gssoCount,

      ROUND((count(cst.chinese)/count(uu2.id))*100,0) cstCount,
      ROUND((count(mst.mathematics)/count(uu2.id))*100,0) as mstCount,
      ROUND((count(est.english)/count(uu2.id))*100,0) as estCount,
      ROUND((count(gsst.general_science)/count(uu2.id))*100,0) as gsstCount
      from user u
      left join score s on u.id=s.user_id
      left join sys_dictionary d on d.id=s.grade
      left join (select s.* from score s where  s.semester='1') uu1 on uu1.id=s.id

      left join (select s.* from score s where s.chinese>90 and s.semester='1') cso on cso.id=s.id
      left join (select s.* from score s where s.mathematics>90 and s.semester='1') mso on mso.id=s.id
      left join (select s.* from score s where s.english>90 and s.semester='1') eso on eso.id=s.id
      left join (select s.* from score s where s.general_science>180 and s.semester='1') gsso on gsso.id=s.id

      left join (select s.* from score s where  s.semester='2') uu2 on uu2.id=s.id

      left join (select s.* from score s where s.chinese>90 and s.semester='2') cst on cst.id=s.id
      left join (select s.* from score s where s.mathematics>90 and s.semester='2') mst on mst.id=s.id
      left join (select s.* from score s where s.english>90 and s.semester='2') est on est.id=s.id
      left join (select s.* from score s where s.general_science>180 and s.semester='2') gsst on gsst.id=s.id

    <where>
        <if test="score.grade!=null and score.grade!=''">
            and s.grade=#{score.grade}
        </if>

    </where>

    GROUP BY s.grade order by d.name

  </select>

    <select id="classStatistics" resultType="com.example.springbootdemo.model.ScoreStatistics" parameterType="com.example.springbootdemo.model.Score">
        select s.classs as classsId,d.name as classs,d1.name as grade,count(s.user_id) as userCount,
        ROUND((count(cso.chinese)/count(uu1.id))*100,0) csoCount,
        ROUND((count(mso.mathematics)/count(uu1.id))*100,0) as msoCount,
        ROUND((count(eso.english)/count(uu1.id))*100,0) as esoCount,
        ROUND((count(gsso.general_science)/count(uu1.id))*100,0) as gssoCount,

        ROUND((count(cst.chinese)/count(uu2.id))*100,0) cstCount,
        ROUND((count(mst.mathematics)/count(uu2.id))*100,0) as mstCount,
        ROUND((count(est.english)/count(uu2.id))*100,0) as estCount,
        ROUND((count(gsst.general_science)/count(uu2.id))*100,0) as gsstCount
        from user u
        left join score s on u.id=s.user_id
        left join sys_dictionary d on d.id=s.classs
        left join sys_dictionary d1 on d1.id=s.grade

        left join (select s.* from score s where  s.semester='1') uu1 on uu1.id=s.id

        left join (select s.* from score s where s.chinese>90 and s.semester='1') cso on cso.id=s.id
        left join (select s.* from score s where s.mathematics>90 and s.semester='1') mso on mso.id=s.id
        left join (select s.* from score s where s.english>90 and s.semester='1') eso on eso.id=s.id
        left join (select s.* from score s where s.general_science>180 and s.semester='1') gsso on gsso.id=s.id

        left join (select s.* from score s where  s.semester='2') uu2 on uu2.id=s.id

        left join (select s.* from score s where s.chinese>90 and s.semester='2') cst on cst.id=s.id
        left join (select s.* from score s where s.mathematics>90 and s.semester='2') mst on mst.id=s.id
        left join (select s.* from score s where s.english>90 and s.semester='2') est on est.id=s.id
        left join (select s.* from score s where s.general_science>180 and s.semester='2') gsst on gsst.id=s.id

        <where>
            <if test="score.grade!=null and score.grade!=''">
                and s.grade=#{score.grade}
            </if>

        </where>
        GROUP BY s.grade,s.classs
        ORDER BY d1.name,d.name
    </select>

</mapper>